.card {
    .presentation {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1024px) {
            padding: 20px 0;
        }

        @media (max-width: 768px) {
            flex-direction: column; 
            row-gap: 15px; 
            padding: 15px 0;   
        }

        .presentationLeft {
            font-weight: 500;
            
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                row-gap: 5px;           
            }

            p {
                @media (max-width: 1024px) {
                    font-size: 16px;    
                }

                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }

            h1 {
                font-size: 36px;
                line-height: 50px;
                font-weight: 500;
                color: $main;

                @media (max-width: 1024px) {
                    font-size: 27px;
                }   

                @media (max-width: 768px) {
                    font-size: 18px;
                    line-height: unset;
                }
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                row-gap: 10px;
                column-gap: 10px;
                padding-top: 20px;

                @media (max-width: 768px) {
                    padding-top: unset;       
                }

                .tag {
                    align-content: center;
                    text-align: center;
                    color: white;
                    background-color: $main;
                    padding: 0 10px;
                    height: 25px;
                    min-width: 115px;
                    font-size: 14px;
                    border-radius: 10px;
                    font-weight: bold;

                    @media (max-width: 1024px) {
                        min-width: 100px;
                        height: 22px;
                        font-size: 12px;
                        border-radius: 8px;
                    }

                    @media (max-width: 768px) {
                        min-width: 85px;
                        height: 20px;
                        font-size: 10px;
                        border-radius: 5px;
                    }
                }
            }
        }

        .presentationRight {
            @media (max-width: 768px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }
            .owner {
                display: flex;
                column-gap: 10px;
                height: 64px;

                @media (max-width: 1024px) {
                    height: 48px;
                }

                @media (max-width: 768px) {
                    height: 32px;
                }

                p {
                    text-align: right;
                    align-content: center;
                    color: $main;
                }

                img {
                    border-radius: 150px;
                }
            }

            .stars {
                display: flex;
                justify-content: right;
                column-gap: 10px;
                padding-top: 20px;

                @media (max-width: 1024px) {
                    column-gap: 8px;
                }

                @media (max-width: 768px) {
                    column-gap: 5px;
                    padding-top: unset;
                }

                img {
                    @media (max-width: 1024px) {
                        height: 20px;
                        width: 20px;
                    }

                    @media (max-width: 768px) {
                        height: 13px;
                        width: 13px;
                    }
                }
            }
        }
    }

    .presentationBottom {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column; 
            row-gap: 20px;    
        }

        & .collapse {
            width: 47%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}